@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

body{
  background: var(--bg-color);
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100vh;
  transition: all .4s;
}

.app,
.app_modal{
  font: var(--font-m);
  color: var(--primary-color);

}

.appContent {
  width: 100%;
  transition: all 0.4s;
  height: 100%;
  background: var(--bg-inverted-color);
}

.contentPage {
  display: flex;
}

