.CommentCard {
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius:  var(--default-border-radius);
  height: auto;
}
.header{
  display: flex;
  align-items: center;
}
.loading{
  border: none;
}
