.Code {
  border: 3px solid var(--primary-color);
  border-radius: var(--default-border-radius);
  position: relative;
  padding: 10px;
  background: var(--bg-inverted-color);
  color: var(--primary-color);
  overflow:auto;
}

.copyBtn {
  padding: 0;
  width:auto;
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  right: 20px;
  top: 20px;
  color: var(--primary-color);

}

.active{
  color: var(--inverted-color);
}
