.popup {
  position: relative;
  display: flex;
}
.menu {
  width: 100%;
  position: absolute;
  border: 1 px solid var(--components-color);
  overflow: hidden;
  background: var(--listbox-color);
  z-index: 10;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.item {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
  cursor: pointer;
}
.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
.active {
  background: var(--grey);
}
.readonly {
  color: var(--grey);
}
.selected {
  background: var(--bg-inverted-color);
}
.menuBottomLeft {
  top: 100%;
  right: 0;
}
.menuBottomRight {
  top: 100%;
  left: 0;
}
.menuTopLeft {
  bottom: 100%;
  right: 0;
}
.menuTopRight {
  bottom: 100%;
  left: 0;
}
.disabled {
  opacity: 0.7;
}
