.listBox {
  position: relative;
  display: flex;
}
.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
.options {
  border: 1 px solid var(--components-color);
  overflow: hidden;
  width: 100%;
  background: var(--listbox-color);
  position: absolute;
  z-index: 10;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.readonly {
  color: var(--grey);

}
.item {
  display: flex;
  padding: 10px 20px;
}
.active {
  background: var(--grey);
}
.selected {
  background: var(--bg-inverted-color);
}
.disabled {
  opacity: 0.7;
}
.optionsBottom {
  bottom: 0;
}
.optionsTop {
  bottom: 100%;
}
