.app.dark{
  --bg-color: #050505;
  --bg-block-color:linear-gradient(163deg, rgba(2,2,2,1) 0%, rgba(31,30,34,1) 100%);
  --bg-inverted-color:#2B2A2FFF;
  --primary-color:#fff;
  --secondary-color:#d0d0d0;
}
