.app_dark_theme{
  --bg-color: #171515;
  --bg-block-color:linear-gradient(163deg, rgb(2 2 2 / 100%) 0%, rgb(8, 3, 16) 100%);
  --bg-inverted-color:#050505;
  --primary-color:#fff;
  --secondary-color:#d0d0d0;
  --components-color:#cbe7eb;
  --inverted-color: #7e9bc4;

}
