.app.dark{
  --bg-color: #050505;
  --bg-block-color:linear-gradient(163deg, rgb(2 2 2 / 100%) 0%, rgb(31 30 34 / 100%) 100%);
  --bg-inverted-color:#2B2A2FFF;
  --primary-color:#fff;
  --secondary-color:#d0d0d0;
}
