:root{
  --bg-color: #f4f4fc;
  --bg-block-color: linear-gradient(135deg, #c3cfe2 0%, #e7ecf3 100%);
  --bg-inverted-color: #e5e5f8;
  --primary-color: #14121f;
  --secondary-color:#bfa1ec ;
  --components-color:#fff;
  --inverted-color: #94add0;
}
