.Navbar {
  width: 100vw;
  height: var(--navbar-height);
  background: var(--bg-inverted-color);
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: all .4s;
}
.links {
  margin-left: auto;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
