.ArticlesDetailsPage {
  width: 100%;
}
.commentTitle{
  margin-top: 20px;
}
.recommendation{
  display: flex;
  margin:20px 0;
  flex-wrap: nowrap !important;
  overflow-y: hidden;
  overflow-x: auto;

}
