.LoginModal{
  display: flex;
  align-items: center;
  justify-content: center;
}
<<<<<<< HEAD
.wrapper{
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
=======
>>>>>>> 921c489 (fix all files and add loki)
